engine-strict=true
save-exact=true
auto-install-peers=true
strict-peer-dependencies=true
resolution-mode=highest
node-version=18.19.1
use-node-version=18.19.1
shell-emulator=true
shamefully-hoist=false